html {
}

a {
  color: #666;
}

body {
  color: #555;
  background-color: #eee;

  font-family: 'Segoe UI', 'Lucida Grande', 'Trebuchet MS', Arial, 'lucida sans unicode', sans-serif;
}

#body-wrapper {
}

#body-wrapper > header,
#body-wrapper > footer {
  text-align: center;
}

#body-wrapper > header {
}

#body-wrapper > nav,
#body-wrapper > main,
#body-wrapper > footer {
  margin: 0 auto;
  padding: 16px;

  max-width: 720px;
}

#body-wrapper > nav {
  border-bottom: 1px solid #eee;

  border-top: 5px solid gray;

  background-color: white;

  box-shadow: 0 0 3px rgba(128, 128, 128, 0.2);
}

#body-wrapper > nav > ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-evenly;

  margin: 0;
  padding: 0;

  width: 100%;
}

#body-wrapper > nav > ul > li {
  display: block;
  flex: 0 1 auto; /* Default */

  list-style-type: none;
}

#body-wrapper > nav > ul > li a {
  text-decoration: none;

  color: inherit;
}

#body-wrapper > main {
  background-color: white;
  /*background: linear-gradient(
          to bottom,
          white,
          rgba(1, 1, 1, 0))*/

  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.2);
}

#body-wrapper > main > p {
  margin-top: 0;
}

/*#body-wrapper > main > p:last-child {
    margin-bottom: 0;
}*/

#body-wrapper > footer {
  position: fixed;

  right: 0;
  bottom: 0;

  font-size: 12px;
}

#me {
  float: left;

  margin-right: 20px;

  height: 100px;

  border-radius: 4px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}

.loader-wrapper {
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: center;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  visibility: visible;

  opacity: 1;

  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.loader-wrapper.loader-wrapper-hidden {
  visibility: hidden;

  opacity: 0;
}

.loader {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

.loader:not(:last-child) {
  position: absolute;
}

.loader-1 {
  border: 5px solid rgb(233, 236, 239);
  border-top: 5px solid rgb(52, 58, 64);

  animation: spin 1s ease infinite;
}

.loader-2 {
  border: 5px solid transparent;
  border-top-color: rgb(52, 58, 64);

  animation: spin 1s ease-in infinite;
}

.loader-3 {
  border: 5px solid transparent;
  border-top-color: rgb(52, 58, 64);

  animation: spin 2s ease-in infinite;
}
